<div class="wrapper clearfix">
  <section class="key_visual">
    <p>Achieve</p>
  </section>
<div class="container">
  <section class="preamble">
    <h1>About Achieve</h1>
    <p>
      Achieveは、受講生が最低限Railsを動かせるかを測るお試しアプリです。<br />
      Achieveを作り終えることで、これからの学習に必要な事前知識を身に着けることができます。
    </p>
    <p>
      Acheveを一言で表すと、練習用のブログ作成アプリです。<br />
      ブログを投稿する機能をつけることで、Railsの機能の一端を学ぶことができます。
    </p>
  </section>

  <section class="about">
    <h2>Achieve 合格条件</h2>
    <p class="condition">
      <input type="checkbox"> Railsシリーズ課題で作成したアプリに機能を追加する形で実装すること<br />
      <input type="checkbox"> Bootstrapを導入すること（グリッドシステムを導入すること）<br />
      <input type="checkbox"> HTML,CSSで最低限のデザインを導入すること（背景色、コンテンツの配置に違和感がないようにすること）<br />
      <input type="checkbox"> トップ画面を作成すること（トップ画面にはアプリのイメージ画像（好きなもので可）と、アプリの説明文を入れること）<br />
      <input type="checkbox"> レスポンシブデザインにすること（カラムを作成すること）<br />
      <input type="checkbox"> ボタン要素には、Bootstrapで任意のボタンデザインを実装すること<br />
（ヘッダーとフッターを作成し、layoutとして配置すること。背景などに色をつけること。任意の画像を貼ること）<br />
      <input type="checkbox"> Githubにソースコードを送信し、そのリポジトリのURLを提出すること<br />
      <input type="checkbox"> Herokuにアップロードしてある状態であること<br />
    </p>
  </section>
</div>
</div>
