<div class="wrapper clearfix">
  <section class="key_visual">
    <p>Achieve</p>
  </section>
<div class="container">
  <section class="preamble">
    <h1>About Achieve</h1>
    <p>
      Achieveは、受講生が最低限Railsを動かせるかを測るお試しアプリです。<br />
      Achieveを作り終えることで、これからの学習に必要な事前知識を身に着けることができます。
    </p>
    <p>
      Acheveを一言で表すと、練習用のブログ作成アプリです。<br />
      ブログを投稿する機能をつけることで、Railsの機能の一端を学ぶことができます。
    </p>
  </section>

  <section class="about">
    <h2>Achieve 合格条件</h2>
    <p class="condition">
      <input type="checkbox"> アソシエーションシリーズ課題で作成したアプリに機能を追加する形で実装すること<br />
      <input type="checkbox"> メール機能を実装する。<br />
      <input type="checkbox"> Githubにソースコードを送信し、そのリポジトリのURLを提出すること<br />
      <input type="checkbox"> Herokuにアップロードしてある状態であること<br />
    </p>
  </section>
</div>
</div>
