<div class="wrapper clearfix">
  <section class="key_visual">
    <p>Achieve</p>
  </section>
<div class="container">
  <section class="preamble">
    <h1>About Achieve</h1>
    <p>
      Achieveは、受講生が最低限Railsを動かせるかを測るお試しアプリです。<br />
      Achieveを作り終えることで、これからの学習に必要な事前知識を身に着けることができます。
    </p>
    <p>
      Acheveを一言で表すと、練習用のブログ作成アプリです。<br />
      ブログを投稿する機能をつけることで、Railsの機能の一端を学ぶことができます。
    </p>
  </section>

  <section class="about">
    <h2>Achieve 合格条件</h2>
    <p class="condition">
      <input type="checkbox"> LOGINシステムシリーズ課題で作成したアプリに機能を追加する形で実装すること<br />
      <input type="checkbox"> アソシエーションを実装し、UserとBlogを紐づけること<br />
      <input type="checkbox"> UserがBlogを投稿した時、そのUserのidをBlogのuser_idに入れておく処理を追加すること<br />
      <input type="checkbox"> そのBlogを投稿したUser以外、Blogの編集と削除ができないようにすること<br />
      <input type="checkbox"> さらに、アソシエーション多対多で実装したものと同じブログのお気に入り機能を実装する<br />
      <input type="checkbox"> さらに、ブログのお気に入り一覧が見られる機能を実装すること<br />
      <input type="checkbox"> Githubにソースコードを送信し、そのリポジトリのURLを提出すること<br />
      <input type="checkbox"> Herokuにアップロードしてある状態であること<br />
    </p>
  </section>
</div>
</div>
